body {
  text-align: center;
  align-items: center;
  margin: auto;
  display: block;
  height: 98vh;
  background: rgb(154, 173, 189);
  background: radial-gradient(
    circle,
    rgba(154, 173, 189, 1) 0%,
    rgba(146, 146, 209, 1) 61%,
    rgba(13, 144, 171, 1) 100%
  );
}
header {
  box-shadow: 0px 0px 20px;
  background: white;
  margin-inline: 20px;
  margin-block: 10px;
  border: 1px;
  border-style: solid;
  border-radius: 15px;
  text-align: center;
  padding-block: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
header p {
  font-size: 40px;
  margin: auto;
  margin-block: 0;
}
header h1 {
  margin: 0;
  font-size: 50px;
}
#gameBoard {
  height: 80vh;
  padding: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#gameBoard > div {
  position: relative;
  display: block;
  padding: 0;
  margin: auto;
}

div > img {
  width: 100px;
  padding: 0;
  margin: 0;
}
#hider {
  position: absolute;
  border-radius: 5px;
  bottom: 4px;
  color: white;
  background: rgba(0, 0, 0, 1);
  width: 100%;
  height: calc(100% - 4px);
  transition: 0.5s ease;
}
.remove {
  opacity: 0%;
  transition: 0.5s ease;
}
#endScreen {
  font-size: 100px;
  margin: auto;
  grid-area: a;
}
button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  margin: auto;
  grid-area: c;
}
#endScreenContainer {
  box-shadow: 0 0 20px;
  background: white;
  margin-top: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "a" "b" "c";
  border-style: solid;
  border-radius: 50px;
  border: 2px;
  width: 750px;
  margin-inline: auto;
  height: 20rem;
}
h2 {
  margin: auto;
  margin-top: 1rem;
  grid-area: b;
}
#endScore {
  margin: auto;
  grid-area: b;
  margin-bottom: 1rem;
}
#leaderBoard {
  text-align: justify;
  border: 2px;
  margin-top: 25px;
  box-shadow: 0 0 20px;
  background: white;
  border-style: solid;
  border-radius: 50px;
  width: 750px;
  margin-inline: auto;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% auto;
  grid-template-areas: "a a";
}
#formContainer {
  height: fit-content;
  margin: auto;
  margin-top: 3rem;
}
#hsList {
  text-align: center;
  margin: auto;
  height: fit-content;
  padding: 0;
}
form {
  margin: auto;
}
li {
  font-size: 15px;
}
#leaderBoardHeader {
  height: fit-content;
  grid-area: a;
  margin: auto;
  font-size: 75px;
}
