body{
    text-align: center;
    align-items: center;
    margin: auto;
    display: block;
    height: 98vh;
    background: rgb(154,173,189);
    background: radial-gradient(circle, rgba(154,173,189,1) 0%, rgba(146,146,209,1) 61%, rgba(13,144,171,1) 100%);
}
header{
    background: white;
    margin-inline: 20px;
    margin-block: 10px;
    border: 3px;
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    padding-block: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
header p{
    font-size: 20px;
}
header h1{
    margin: 0;
    font-size: 50px;
}
#gameBoard{
    height: 80vh;
    padding: 15px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
#gameBoard > div{
    position: relative;
    display: block;
    padding: 0;
    margin: auto;
}
#gameBoard > div:hover{
    cursor: pointer;
}
div > img{
    width: 100px;
    padding: 0;
    margin: 0;
}
#hider{
    position: absolute;
    border-radius: 5px;
    bottom: 4px;
    color: white;
    background: rgba(0, 0, 0, 1);
    width: 100%;
    height: calc(100% - 4px);
    transition: .5s ease;
}
.remove{
    opacity: 0%;
    transition: .5s ease;
}
#gameOver{
    font-size: 100px;
    margin: auto;
    padding-block: 100px;
}
button{
    width: 200px;
    height: 50px;
    font-size: 30px;
}